*{
    margin: 0;
    padding: 0;
}

.navigation{
    border-bottom: 2px solid black;
    padding: 12px 12px;
    text-align: center;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.content{
    display: flex;
    height: 300px;
}

.index{
    padding:12px 12px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    padding: 12px 107px 12px 12px;
    border-right: 2px solid black;
    text-align: center;
    width: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.same{
    border:2px solid black;
    padding: 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
