* {
    margin: 0;
    padding: 0;
}

.header{
    background-color: #bababa;
    padding: 0px 0px 30px 0;
    border-style: double;
}

.content{
    display: flex;
}

.main_menu--item{
    list-style: none;
}

.main_menu_list{
    height: 300px;
}

.main_menu--item a{
    text-decoration: none;
    color: black;
}

.main_menu{
    background-color: yellow;
    width: 10%;
    border-style: double;
}
.layout{
    background-color: #fff;
    width: 90%;
    border-style: double;
}

.footer{
    background-color: #bababa;
    border-style: double;
    text-align: center;
}