* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.page {
    background-color: rgb(228, 228, 228);
    padding: 12px 12px;
    width: 50%;
}

#form {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 8px;
    padding: 30px 40px;
}

.form__header__title {
    text-align: center;
    padding-bottom: 30px;
    font-weight: 800;
    font-size: 35px;
}

.form__container--group div {
    width: 100%;
    background-color: rgb(243, 237, 237);
    border-radius: 12px;
    border: 2px solid red;
}

.form__container--group span {
    font-size: 10px;
    font-weight: 700;
    padding: 3% 7% 3% 3%;
}

input {
    background-color: rgb(243, 237, 237);
    border-radius: 12px;
    border: none;
    outline: none;
    font-weight: 700;
}

::placeholder {
    color: rgb(191, 189, 189);
}

#fullname {
    padding: 3% 7% 3% 3%;
}

#email {
    padding: 3% 7% 3% 3%;
}

#phone {
    padding: 3% 7% 3% 3%;
}

.servive {
    position: relative;
    width: 90%;
    margin: 12px 0;
    border-radius: 12px;
    background-color: rgb(243, 237, 237);
    border: 2px solid rgb(225, 223, 223);
    outline: none;
    padding: 3% 7% 3% 3%;
    font-weight: 600;
    color: rgb(191, 189, 189);
    cursor: pointer;
}

.form__container--group ul {
    position: absolute;
    display: none;
    top: 20px;
    left: 0;
}

.form__container--group li {
    list-style-type: none;
}

.form__container--group li a {
    color: black;
    text-decoration: none;
}

.form__container--group textarea {
    width: 90%;
    padding: 3% 7% 3% 3%;
    border-radius: 12px;
    font-weight: 600;
    border: 2px solid rgb(225, 223, 223);
    outline: none;
}

.form__footer {
    margin-top: 22px;
}

.form__footer div {
    position: relative;
}

.form__footer i {
    position: absolute;
    top: 34%;
    right: 42%;
    color: white;
}

.form__footer button {
    width: 100%;
    padding: 13px 0;
    border: none;
    color: white;
    border-radius: 35px;
    background-color: black;
}

.servive__icon i {
    font-size: 10px;
    font-weight: 700;
}

.up {
    position: absolute;
    top: 23px;
    right: 25px;
}


.down {
    position: absolute;
    top: 30px;
    right: 25px;
}